{% extends 'base.html.twig' %}

{% block title %}News Management{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin_news.css') }}">
{% endblock %}

{% block body %}
    <div class="news-management-container">
        <h1 class="page-title">News Management</h1>

        <div class="add-news-button">
            <a href="{{ path('admin_news_create') }}" class="btn-add-news">Add New News</a>
        </div>

        <ul class="news-list">
            {% for newsItem in news %}
                <li class="news-item">
                    <span class="news-title">{{ newsItem.title }}</span>
                    <div class="news-actions">
                        <a href="{{ path('admin_news_show', {id: newsItem.id}) }}" class="btn-action">Show</a>
                        <a href="{{ path('admin_news_edit', {id: newsItem.id}) }}" class="btn-action">Edit</a>
                        <a href="{{ path('admin_news_delete', {id: newsItem.id}) }}" class="btn-action btn-delete"
                           onclick="return confirm('Are you sure you want to delete this news?')">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            {{ knp_pagination_render(news) }}
        </div>
    </div>
{% endblock %}